.active {
  font-weight: bold;
  background-color: #5ac5e7;
}

.button {
  background-color: #292d3e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px 0px 2px;

  border-radius: 5px;
  width: 35px;
  color: white;
  padding: 5px;
  &:hover {
    color: #5ac5e7;
    cursor: pointer;
  }
}



.buttonsContainer {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}