.header {
  position: sticky;
  top: 0;
  grid-area: h;
  background-color: rgb(32,35,42);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 50px;
}