.content {
  grid-area: c;
  display: flex;


}

.interluctor {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  &:hover {
    cursor: pointer;
  }
}

.interluctors {
  border-right: 2px solid #22b389;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  width: 20%;
}

.messages {
  margin: 0px;
}

.textarea {
  border: 2px solid #22b389;
  border-radius: 5px;
  resize: none;
  box-shadow: none;
  outline: none;
  height: 100px;
}